In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('perrin-freres-monthly-champagne.csv')
df.head()

     Month  Perrin Freres monthly champagne sales millions ?64-?72
0  1964-01                                             2815.0
1  1964-02                                             2672.0
2  1964-03                                             2755.0
3  1964-04                                             2721.0
4  1964-05                                             2946.0

In [9]:
df.rename(columns={"Perrin Freres monthly champagne sales millions ?64-?72": "Sales"},inplace=True)

In [10]:
df.head()

     Month   Sales
0  1964-01  2815.0
1  1964-02  2672.0
2  1964-03  2755.0
3  1964-04  2721.0
4  1964-05  2946.0

In [11]:
df['Month'] = pd.to_datetime(df['Month'])
df.set_index('Month', inplace=True)

ParserError: Unknown string format: Perrin Freres monthly champagne sales millions ?64-?72